.card {
    border: none;
    border-radius: 10px; /* Adjust border radius as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for cards */
    height: auto; /* Let the height be determined by content */
    margin-bottom: 20px; /* Spacing between cards */
  }
  
  .card-group {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    justify-content: center; /* Center align cards */
  }
  
  .circle-icon {
    width: 27px;
    height: 27px;
    border-radius: 50%; /* Circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30px auto 10px; /* Adjust margin to vertically center */
    position: relative; /* Ensure positioning relative to card */
    top: -30px; /* Adjust position to move circle up */
    z-index: 1; /* Ensure circle is above card content */
  }
  
  .circle-icon .material-icons-outlined {
    font-size: 30px; /* Icon size */
    color: white; /* Icon color */
  }
  
  .bg-primary {
    background-color: #007bff !important; /* Blue color, adjust as needed */
  }
  
  .card-title {
    font-size: 1.2rem; /* Title font size */
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 0.9rem; /* Text font size */
  }
  
  
  .card-text {
    font-size: 0.9rem; /* Text font size */
  }
  
#homeIcon1{
    background-color: rgb(243, 187, 243);
   margin-left: 1rem;
    height: 2rem;
    width: 2rem;
  }
#homeIcon2{
    background-color: rgb(206, 230, 170);
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}
#homeIcon3{
    background-color: rgb(244, 181, 176);
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}
#homeIcon4{
    background-color: rgb(245, 250, 150);
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}
.cardhead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
#cardBody{
    height: 10rem;
}
#cardTitle{
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
}
#liTitle{
    height: 1.5rem;
    width: 1rem;
    background-color: #007bff;
}
#overallDiv{
    display: flex;
    flex-direction: row;
}



  

  
  