.titleHead
{
    display: flex;
    justify-content: space-between;
}
#formDiv1{
   
    gap: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
#addStoreNewbtn{
    margin-left: 50rem;
    margin-top: 2rem;
}
.flex {
    display: flex;
}
.rightHome{
    width: 100%;
    margin-left: 120px;
}
.width {
    width: 100%;
    height: 200px;
    background-color: red;
}